* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v24_727 {
  width: 428px;
  height: 926px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 65px;
  border-top-right-radius: 65px;
  border-bottom-left-radius: 65px;
  border-bottom-right-radius: 65px;
  overflow: hidden;
}
.v35_905 {
  width: 430px;
  height: 926px;
  background: rgba(33,33,33,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v54_1030 {
  width: 123px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 911px;
  left: 154px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  overflow: hidden;
}
.v76_8 {
  width: 169px;
  height: 4px;
  background: rgba(159,159,159,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 418px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  overflow: hidden;
}
.v110_1243 {
  width: 373px;
  height: 1071px;
  background: url("../images/v110_1243.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 16px;
  overflow: hidden;
}
.v110_1244 {
  width: 292px;
  background: url("../images/v110_1244.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 81px;
  border: 1px solid rgba(159,159,159,0.20000000298023224);
}
.v110_1245 {
  width: 339px;
  height: 72px;
  background: url("../images/v110_1245.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 23px;
  overflow: hidden;
}
.v110_1246 {
  width: 51px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 57px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v110_1247 {
  width: 50px;
  height: 50px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
  border-radius: 50%;
}
.v110_1248 {
  width: 34px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 8px;
  overflow: hidden;
}
.v110_1249 {
  width: 14px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 10px;
}
.v110_1250 {
  width: 28px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 3px;
}
.v110_1251 {
  width: 219px;
  color: rgba(159,159,159,1);
  position: absolute;
  top: 28px;
  left: 58px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v110_1252 {
  width: 33px;
  color: rgba(159,159,159,1);
  position: absolute;
  top: 2px;
  left: 288px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v110_1253 {
  width: 5px;
  height: 9px;
  background: url("../images/v110_1253.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 334px;
  overflow: hidden;
}
.v110_1254 {
  width: 5px;
  height: 9px;
  background: rgba(159,159,159,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(159,159,159,1);
}
.v110_1255 {
  width: 292px;
  background: url("../images/v110_1255.png");
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 81px;
  border: 1px solid rgba(159,159,159,0.20000000298023224);
}
.v110_1256 {
  width: 339px;
  height: 72px;
  background: url("../images/v110_1256.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 179px;
  left: 23px;
  overflow: hidden;
}
.v110_1257 {
  width: 37px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 57px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v110_1258 {
  width: 50px;
  height: 50px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
  border-radius: 50%;
}
.v110_1259 {
  width: 20px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 15px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v110_1260 {
  width: 219px;
  color: rgba(159,159,159,1);
  position: absolute;
  top: 28px;
  left: 58px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v110_1261 {
  width: 32px;
  color: rgba(159,159,159,1);
  position: absolute;
  top: 2px;
  left: 288px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v110_1262 {
  width: 5px;
  height: 9px;
  background: url("../images/v110_1262.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 334px;
  overflow: hidden;
}
.v110_1263 {
  width: 5px;
  height: 9px;
  background: rgba(159,159,159,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(159,159,159,1);
}
.v110_1264 {
  width: 100px;
  height: 100px;
  background: url("../images/v110_1264.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 246px;
  left: 0px;
  overflow: hidden;
}
.v110_1265 {
  width: 292px;
  background: url("../images/v110_1265.png");
  opacity: 1;
  position: absolute;
  top: 169px;
  left: 81px;
  border: 1px solid rgba(159,159,159,0.20000000298023224);
}
.v110_1266 {
  width: 339px;
  height: 72px;
  background: url("../images/v110_1266.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 261px;
  left: 23px;
  overflow: hidden;
}
.v110_1267 {
  width: 49px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 57px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v110_1268 {
  width: 50px;
  height: 50px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
  border-radius: 50%;
}
.v110_1269 {
  width: 20px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 15px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v110_1270 {
  width: 219px;
  color: rgba(159,159,159,1);
  position: absolute;
  top: 28px;
  left: 58px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v110_1271 {
  width: 33px;
  color: rgba(159,159,159,1);
  position: absolute;
  top: 2px;
  left: 288px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v110_1272 {
  width: 5px;
  height: 9px;
  background: url("../images/v110_1272.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 334px;
  overflow: hidden;
}
.v110_1273 {
  width: 5px;
  height: 9px;
  background: rgba(159,159,159,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(159,159,159,1);
}
.v110_1274 {
  width: 292px;
  background: url("../images/v110_1274.png");
  opacity: 1;
  position: absolute;
  top: 251px;
  left: 81px;
  border: 1px solid rgba(159,159,159,0.20000000298023224);
}
.v110_1275 {
  width: 339px;
  height: 72px;
  background: url("../images/v110_1275.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 343px;
  left: 23px;
  overflow: hidden;
}
.v110_1276 {
  width: 55px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 57px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v110_1277 {
  width: 50px;
  height: 50px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
  border-radius: 50%;
}
.v110_1278 {
  width: 28px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 11px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v110_1279 {
  width: 219px;
  color: rgba(159,159,159,1);
  position: absolute;
  top: 28px;
  left: 58px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v110_1280 {
  width: 33px;
  color: rgba(159,159,159,1);
  position: absolute;
  top: 2px;
  left: 288px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v110_1281 {
  width: 5px;
  height: 9px;
  background: url("../images/v110_1281.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 334px;
  overflow: hidden;
}
.v110_1282 {
  width: 5px;
  height: 9px;
  background: rgba(159,159,159,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(159,159,159,1);
}
.v110_1283 {
  width: 292px;
  background: url("../images/v110_1283.png");
  opacity: 1;
  position: absolute;
  top: 333px;
  left: 81px;
  border: 1px solid rgba(159,159,159,0.20000000298023224);
}
.v110_1284 {
  width: 339px;
  height: 72px;
  background: url("../images/v110_1284.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 425px;
  left: 23px;
  overflow: hidden;
}
.v110_1285 {
  width: 49px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 57px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v110_1286 {
  width: 50px;
  height: 50px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
  border-radius: 50%;
}
.v110_1287 {
  width: 34px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 8px;
  overflow: hidden;
}
.v110_1288 {
  width: 14px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 10px;
}
.v110_1289 {
  width: 28px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 3px;
}
.v110_1290 {
  width: 219px;
  color: rgba(159,159,159,1);
  position: absolute;
  top: 28px;
  left: 58px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v110_1291 {
  width: 33px;
  color: rgba(159,159,159,1);
  position: absolute;
  top: 2px;
  left: 288px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v110_1292 {
  width: 5px;
  height: 9px;
  background: url("../images/v110_1292.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 334px;
  overflow: hidden;
}
.v110_1293 {
  width: 5px;
  height: 9px;
  background: rgba(159,159,159,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(159,159,159,1);
}
.v110_1294 {
  width: 292px;
  background: url("../images/v110_1294.png");
  opacity: 1;
  position: absolute;
  top: 415px;
  left: 81px;
  border: 1px solid rgba(159,159,159,0.20000000298023224);
}
.v110_1295 {
  width: 339px;
  height: 72px;
  background: url("../images/v110_1295.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 589px;
  left: 23px;
  overflow: hidden;
}
.v110_1296 {
  width: 78px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 57px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v110_1297 {
  width: 50px;
  height: 50px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
  border-radius: 50%;
}
.v110_1298 {
  width: 34px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 8px;
  overflow: hidden;
}
.v110_1299 {
  width: 14px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 10px;
}
.v110_1300 {
  width: 28px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 3px;
}
.v110_1301 {
  width: 219px;
  color: rgba(159,159,159,1);
  position: absolute;
  top: 28px;
  left: 58px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v110_1302 {
  width: 33px;
  color: rgba(159,159,159,1);
  position: absolute;
  top: 2px;
  left: 288px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v110_1303 {
  width: 5px;
  height: 9px;
  background: url("../images/v110_1303.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 334px;
  overflow: hidden;
}
.v110_1304 {
  width: 5px;
  height: 9px;
  background: rgba(159,159,159,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(159,159,159,1);
}
.v110_1305 {
  width: 292px;
  background: url("../images/v110_1305.png");
  opacity: 1;
  position: absolute;
  top: 579px;
  left: 81px;
  border: 1px solid rgba(159,159,159,0.20000000298023224);
}
.v110_1306 {
  width: 339px;
  height: 72px;
  background: url("../images/v110_1306.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 671px;
  left: 23px;
  overflow: hidden;
}
.v110_1307 {
  width: 53px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 57px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v110_1308 {
  width: 50px;
  height: 50px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
  border-radius: 50%;
}
.v110_1309 {
  width: 34px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 8px;
  overflow: hidden;
}
.v110_1310 {
  width: 14px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 10px;
}
.v110_1311 {
  width: 28px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 3px;
}
.v110_1312 {
  width: 219px;
  color: rgba(159,159,159,1);
  position: absolute;
  top: 28px;
  left: 58px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v110_1313 {
  width: 33px;
  color: rgba(159,159,159,1);
  position: absolute;
  top: 2px;
  left: 288px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v110_1314 {
  width: 5px;
  height: 9px;
  background: url("../images/v110_1314.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 334px;
  overflow: hidden;
}
.v110_1315 {
  width: 5px;
  height: 9px;
  background: rgba(159,159,159,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(159,159,159,1);
}
.v110_1316 {
  width: 292px;
  background: url("../images/v110_1316.png");
  opacity: 1;
  position: absolute;
  top: 661px;
  left: 81px;
  border: 1px solid rgba(159,159,159,0.20000000298023224);
}
.v110_1317 {
  width: 339px;
  height: 72px;
  background: url("../images/v110_1317.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 507px;
  left: 23px;
  overflow: hidden;
}
.v110_1318 {
  width: 68px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 57px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v110_1319 {
  width: 50px;
  height: 50px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
  border-radius: 50%;
}
.v110_1320 {
  width: 34px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 8px;
  overflow: hidden;
}
.v110_1321 {
  width: 14px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 10px;
}
.v110_1322 {
  width: 28px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 3px;
}
.v110_1323 {
  width: 219px;
  color: rgba(159,159,159,1);
  position: absolute;
  top: 28px;
  left: 58px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v110_1324 {
  width: 33px;
  color: rgba(159,159,159,1);
  position: absolute;
  top: 2px;
  left: 288px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v110_1325 {
  width: 5px;
  height: 9px;
  background: url("../images/v110_1325.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 334px;
  overflow: hidden;
}
.v110_1326 {
  width: 5px;
  height: 9px;
  background: rgba(159,159,159,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(159,159,159,1);
}
.v110_1327 {
  width: 292px;
  background: url("../images/v110_1327.png");
  opacity: 1;
  position: absolute;
  top: 497px;
  left: 81px;
  border: 1px solid rgba(159,159,159,0.20000000298023224);
}
.v110_1328 {
  width: 339px;
  height: 72px;
  background: url("../images/v110_1328.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 753px;
  left: 23px;
  overflow: hidden;
}
.v110_1329 {
  width: 68px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 57px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v110_1330 {
  width: 50px;
  height: 50px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
  border-radius: 50%;
}
.v110_1331 {
  width: 34px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 8px;
  overflow: hidden;
}
.v110_1332 {
  width: 14px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 10px;
}
.v110_1333 {
  width: 28px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 3px;
}
.v110_1334 {
  width: 219px;
  color: rgba(159,159,159,1);
  position: absolute;
  top: 28px;
  left: 58px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v110_1335 {
  width: 33px;
  color: rgba(159,159,159,1);
  position: absolute;
  top: 2px;
  left: 288px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v110_1336 {
  width: 5px;
  height: 9px;
  background: url("../images/v110_1336.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 334px;
  overflow: hidden;
}
.v110_1337 {
  width: 5px;
  height: 9px;
  background: rgba(159,159,159,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(159,159,159,1);
}
.v110_1338 {
  width: 292px;
  background: url("../images/v110_1338.png");
  opacity: 1;
  position: absolute;
  top: 743px;
  left: 81px;
  border: 1px solid rgba(159,159,159,0.20000000298023224);
}
.v110_1339 {
  width: 339px;
  height: 72px;
  background: url("../images/v110_1339.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 835px;
  left: 23px;
  overflow: hidden;
}
.v110_1340 {
  width: 68px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 57px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v110_1341 {
  width: 50px;
  height: 50px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
  border-radius: 50%;
}
.v110_1342 {
  width: 34px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 8px;
  overflow: hidden;
}
.v110_1343 {
  width: 14px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 10px;
}
.v110_1344 {
  width: 28px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 3px;
}
.v110_1345 {
  width: 219px;
  color: rgba(159,159,159,1);
  position: absolute;
  top: 28px;
  left: 58px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v110_1346 {
  width: 33px;
  color: rgba(159,159,159,1);
  position: absolute;
  top: 2px;
  left: 288px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v110_1347 {
  width: 5px;
  height: 9px;
  background: url("../images/v110_1347.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 334px;
  overflow: hidden;
}
.v110_1348 {
  width: 5px;
  height: 9px;
  background: rgba(159,159,159,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(159,159,159,1);
}
.v110_1349 {
  width: 292px;
  background: url("../images/v110_1349.png");
  opacity: 1;
  position: absolute;
  top: 825px;
  left: 81px;
  border: 1px solid rgba(159,159,159,0.20000000298023224);
}
.v110_1350 {
  width: 339px;
  height: 72px;
  background: url("../images/v110_1350.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 917px;
  left: 23px;
  overflow: hidden;
}
.v110_1351 {
  width: 68px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 57px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v110_1352 {
  width: 50px;
  height: 50px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
  border-radius: 50%;
}
.v110_1353 {
  width: 34px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 8px;
  overflow: hidden;
}
.v110_1354 {
  width: 14px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 10px;
}
.v110_1355 {
  width: 28px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 3px;
}
.v110_1356 {
  width: 219px;
  color: rgba(159,159,159,1);
  position: absolute;
  top: 28px;
  left: 58px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v110_1357 {
  width: 33px;
  color: rgba(159,159,159,1);
  position: absolute;
  top: 2px;
  left: 288px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v110_1358 {
  width: 5px;
  height: 9px;
  background: url("../images/v110_1358.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 334px;
  overflow: hidden;
}
.v110_1359 {
  width: 5px;
  height: 9px;
  background: rgba(159,159,159,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(159,159,159,1);
}
.v110_1360 {
  width: 292px;
  background: url("../images/v110_1360.png");
  opacity: 1;
  position: absolute;
  top: 907px;
  left: 81px;
  border: 1px solid rgba(159,159,159,0.20000000298023224);
}
.v110_1361 {
  width: 339px;
  height: 72px;
  background: url("../images/v110_1361.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 999px;
  left: 23px;
  overflow: hidden;
}
.v110_1362 {
  width: 68px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 57px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v110_1363 {
  width: 50px;
  height: 50px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
  border-radius: 50%;
}
.v110_1364 {
  width: 34px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 8px;
  overflow: hidden;
}
.v110_1365 {
  width: 14px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 10px;
}
.v110_1366 {
  width: 28px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 3px;
}
.v110_1367 {
  width: 219px;
  color: rgba(159,159,159,1);
  position: absolute;
  top: 28px;
  left: 58px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v110_1368 {
  width: 33px;
  color: rgba(159,159,159,1);
  position: absolute;
  top: 2px;
  left: 288px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v110_1369 {
  width: 5px;
  height: 9px;
  background: url("../images/v110_1369.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 334px;
  overflow: hidden;
}
.v110_1370 {
  width: 5px;
  height: 9px;
  background: rgba(159,159,159,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(159,159,159,1);
}
.v110_1371 {
  width: 292px;
  background: url("../images/v110_1371.png");
  opacity: 1;
  position: absolute;
  top: 989px;
  left: 81px;
  border: 1px solid rgba(159,159,159,0.20000000298023224);
}
.v110_1372 {
  width: 339px;
  height: 72px;
  background: url("../images/v110_1372.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 23px;
  overflow: hidden;
}
.v110_1373 {
  width: 28px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 57px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v110_1374 {
  width: 50px;
  height: 50px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
  border-radius: 50%;
}
.v110_1375 {
  width: 38px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 6px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v110_1376 {
  width: 219px;
  color: rgba(159,159,159,1);
  position: absolute;
  top: 28px;
  left: 58px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v110_1377 {
  width: 31px;
  color: rgba(159,159,159,1);
  position: absolute;
  top: 2px;
  left: 288px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v110_1378 {
  width: 5px;
  height: 9px;
  background: url("../images/v110_1378.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 334px;
  overflow: hidden;
}
.v110_1379 {
  width: 5px;
  height: 9px;
  background: rgba(159,159,159,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(159,159,159,1);
}
.v91_190 {
  width: 430px;
  height: 200px;
  background: rgba(33,33,33,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v24_730 {
  width: 319px;
  height: 21px;
  background: url("../images/v24_730.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 61px;
  overflow: hidden;
}
.v24_731 {
  width: 18px;
  height: 15px;
  background: url("../images/v24_731.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 263px;
  overflow: hidden;
}
.v24_732 {
  width: 34px;
  height: 21px;
  background: url("../images/v24_732.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 285px;
  overflow: hidden;
}
.v24_733 {
  width: 19px;
  height: 13px;
  background: url("../images/v24_733.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 238px;
  overflow: hidden;
}
.v24_734 {
  width: 4px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v24_735 {
  width: 4px;
  height: 8px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 5px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v24_736 {
  width: 4px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 10px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v24_737 {
  width: 4px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 15px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v24_738 {
  width: 43px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v76_7 {
  width: 341px;
  height: 80px;
  background: url("../images/v76_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 29px;
  overflow: hidden;
}
.v35_918 {
  width: 173px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 39px;
  left: 0px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.v35_906 {
  width: 64px;
  color: rgba(4,97,215,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v35_917 {
  width: 16px;
  height: 17px;
  background: url("../images/v35_917.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 326px;
  overflow: hidden;
}
.v35_907 {
  width: 14px;
  height: 14px;
  background: rgba(217,217,217,0);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  border: 1.5px solid rgba(4,97,215,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v52_947 {
  width: 2px;
  height: 3px;
  background: rgba(33,33,33,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 13px;
  transform: rotate(-135deg);
  overflow: hidden;
}
.v35_911 {
  width: 13px;
  background: url("../images/v35_911.png");
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 8px;
  border: 1.5px solid rgba(4,97,215,1);
  transform: rotate(-46deg);
}
.v35_915 {
  width: 0px;
  height: 3px;
  background: rgba(33,33,33,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 7px;
  transform: rotate(-156deg);
  overflow: hidden;
}
.v35_912 {
  width: 0px;
  height: 2px;
  background: rgba(33,33,33,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 17px;
  overflow: hidden;
}
.v35_916 {
  width: 0px;
  height: 3px;
  background: rgba(33,33,33,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 7px;
  transform: rotate(-113deg);
  overflow: hidden;
}
.v54_1031 {
  width: 351px;
  height: 24px;
  background: url("../images/v54_1031.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 158px;
  left: 36px;
  overflow: hidden;
}
.v52_948 {
  width: 351px;
  height: 24px;
  background: rgba(159,159,159,0.20000000298023224);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v35_945 {
  width: 12px;
  height: 12px;
  background: url("../images/v35_945.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 9px;
  overflow: hidden;
}
.v35_946 {
  width: 51px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 28px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
