* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v91_191 {
  width: 428px;
  height: 926px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 65px;
  border-top-right-radius: 65px;
  border-bottom-left-radius: 65px;
  border-bottom-right-radius: 65px;
  overflow: hidden;
}
.v91_284 {
  width: 385px;
  height: 59px;
  background: url("../images/v91_284.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 23px;
  overflow: hidden;
}
.v91_280 {
  width: 385px;
  height: 59px;
  background: rgba(19,19,19,0.5199999809265137);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v91_288 {
  width: 65px;
  color: rgba(135,135,135,1);
  position: absolute;
  top: 7px;
  left: 309px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v91_287 {
  width: 299px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 22px;
  left: 70px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v91_283 {
  width: 115px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 70px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v91_297 {
  width: 39px;
  height: 39px;
  background: url("../images/v91_297.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
